.root-pane {
    -fx-background-color: #d0e0e0;
    -fx-padding: 0;
}

.header-label {
    -fx-background-color: #175b76;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px 15px;
    -fx-min-width: 100%;
}

.weather-box {
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-alignment: top;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.weather-text {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #3399ff;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #4a9edc, #2d76b5);
}

.text-area {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 6px;
    -fx-padding: 10;
}

.scroll-content {
    -fx-background-color: #ffffff;
    -fx-padding: 5;
}

.map-area {
    -fx-background-color: #c0c0c0;
    -fx-background-radius: 10;
    -fx-effect: innershadow(gaussian, #888888, 5, 0.5, 0, 0);
    -fx-alignment: center;
}
